.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1 .u-text-1 {
  font-family: "Julius Sans One";
  margin: 71px 831px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Julius Sans One";
  margin: 80px 888px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 631px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 688px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 411px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 31px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 88px;
  }
}